# Terraform local state / cache
.terraform/
*.tfstate
*.tfstate.*
*.tfplan

# Sensitive variables
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Environment variables / Secrets
.env